!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title Te Agendamos
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    != haml(:'layouts/_head_include', :layout => false)
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "/"} Te Agendamos
          .nav-collapse
            %ul.nav
              %li.active
                %a{:href => "/"} Inicio
              %li
                %a{:href => "http://www.sietecumbres.com.co", :target => "_blank"} Conócenos
              %li
                %a{:href => "/#contact"} Contacto
    != yield