.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => "#"} Te Agendamos
      .nav-collapse
        %ul.nav
          %li.active
            %a{:href => "#"} Inicio
          %li
            %a{:href => "http://www.sietecumbres.com.co", :target => "_blank"} Conócenos
          %li
            %a{:href => "#contact"} Contacto
.container
  .hero-unit
    %h1 Te Agendamos
    %p En Te Agendamos buscamos ayudarte a no olvidar el cumpleaños de tus amigos y seres queridos, tu aniversario de bodas, el cambio de aceite de tu carro, pagar tus facturas, etc, y además te mostramos quienes te pueden prestar el servicio que necesites para cada ocasión.
    %p
      %a.btn.btn-primary.btn-success Descargar
  .row
    .span4
      != haml(:'contact/_form', :layout => false)
    .span4
      %h2 Proveedores
      %p En Te Agendamos tenemos un espacio para tu empresa, puedes darla a conocer aquí.
      %p
        %a.btn.btn-success{:href => "/providers/new"} Registro
    .span4
      %h2 Usuarios
      %p Si no quieres perder otra ocasión especial o deseas mantener tu agenda al día con lo que tienes que hacer, Te Agendamos es tu solución, lo único que debes hacer es registrarte y empezar a llenar tu agenda.
      %p
        %a.btn{:href => "users/new"} Registro
  %hr
    %footer
      %a{:href => "http://www.sietecumbres.com.co", :target => "_blank"} Siete Cumbres SAS