/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.jgrowl
 *= require facebox
 *= require jquery-ui-1.8.20.custom
*/

.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.navbar-inner {
  background-image: -webkit-linear-gradient(top, #5BB75B, #387038) !important;
  background-image: -o-linear-gradient(top, #5BB75B, #387038) !important;
  background-image: linear-gradient(top, #5BB75B, #387038) !important;
}

.navbar .nav > li > a {
  color: #FFFFFF !important;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
  background-color: #387038 !important;
}

h1, h2, h3, h4, h5, h6 {
  color: #387038 !important;
}

.brand:hover {
 background-color: #387038 !important;
}

a:visited {
  color: #FFFFFF !important;
}

a.btn-grey:visited {
  color: #000000 !important;
}

.fb-login-button {
  margin-left: 40%;
  margin-top: 2%;
  margin-bottom: 4%;
}

.fb-login-text {
  margin-top: 5%;
}

.register-text {
  margin-top: 5%;
}

#user_remember_me {
  float: left;
}

#facebox .content {
  background-color: #EEEEEE !important;
}

.nav-collapse-right {
  float: right;
}

.hr-modals {
  margin: 15px 0;
  border: 0;
  border-top: 1px solid #EEE;
  border-bottom: 2px solid #387038;
}

#ui-datepicker-div {
  z-index: 9999999 !important;
}


.ui-datepicker {
  z-index: 9999999 !important;
}

.modal-header {
  background-color: #387038;
  margin-bottom: 20px;
  
  h1 {
    color: #FFFFFF !important;
  }
}