.login-register-container {
  width: 610px;
  div.login {
    border-right: 2px solid #51A351;
    height: 360px;
    padding-right: 30px;
  }
}

.icon-google {
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  vertical-align: text-top;
  background-image: url("/assets/google-logo-18x18.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.icon-facebook {
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  vertical-align: text-top;
  background-image: url("/assets/facebook-logo-18x18.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}