// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-register-container {
  width: 610px;
  div.login {
    border-right: 2px solid #51A351;
    height: 360px;
    padding-right: 30px;
  }
}