.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      - if user_signed_in?
        %a.brand{:href => user_root_path} Te Agendamos
      - elsif provider_signed_in?
        %a.brand{:href => provider_root_path} Te Agendamos
      - else  
        %a.brand{:href => "/"} Te Agendamos
      .nav-collapse
        %ul.nav
          - if user_signed_in?
            %li.active
              %a{:href => user_root_path} Inicio
          - elsif user_signed_in?
            %li.active
              %a{:href => provider_root_path} Inicio
          -else
            %li.active
              %a{:href => "/"} Inicio
            %li
              %a{:href => "/#contact"} Contacto
          %li
            %a{:href => "http://www.sietecumbres.com.co", :target => "_blank"} Conócenos
      .nav-collapse-right
        %ul.nav
          - if user_signed_in?
            %li
              = link_to('Editar', edit_user_registration_path)
            %li
              = link_to('Salir', destroy_user_session_path, :method=>'delete')
          - elsif provider_signed_in?
            %li
              = link_to('Editar', edit_provider_registration_path)
            %li
              = link_to('Salir', destroy_provider_session_path, :method=>'delete')